@model List<core_web.Models.Layout.SidebarItem>

@{
    Layout = null;
}

<div class="sidebar sidebar-dark sidebar-fixed border-end" id="sidebar">
    <div class="sidebar-header border-bottom">
        <div class="sidebar-brand">
            @* <svg class="sidebar-brand-full" width="88" height="32" alt="CoreUI Logo">
                <use xlink:href="@($"{Url.Content("~/assetsV1/assets/brand/coreui.svg#full")}")"></use>
            </svg>
            <svg class="sidebar-brand-narrow" width="32" height="32" alt="CoreUI Logo">
                <use xlink:href="@($"{Url.Content("~/assetsV1/assets/brand/coreui.svg#signet")}")"></use>
            </svg> *@
            <h4>IP - Registry</h4>
        </div>
        <button class="btn-close d-lg-none" type="button" data-coreui-theme="dark" aria-label="Close" onclick="coreui.Sidebar.getInstance(document.querySelector(&quot;#sidebar&quot;)).toggle()"></button>
    </div>
    <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        @foreach (var item in Model)
        {
            var currentArea = ViewContext.RouteData.Values["area"]?.ToString()?.ToLower();
            var itemArea = item.Url?.Trim('/').Split('/')[0].ToLower();
            var isActive = currentArea == itemArea;

            if (item.Children != null && item.Children.Any())
            {
                <li class="nav-group">
                    <a class="nav-link nav-group-toggle" href="#">
                        <svg class="nav-icon">
                            <use xlink:href="@($"{Url.Content("~/assetsV1/vendors/coreui/icons/svg/free.svg")}#{item.Icon}")"></use>
                        </svg>
                        @item.Title
                    </a>
                    <ul class="nav-group-items compact">
                        @foreach (var child in item.Children)
                        {
                            var childArea = child.Url?.Trim('/').Split('/')[0].ToLower();
                            var isChildActive = currentArea == childArea;

                            <li class="nav-item">
                                <a class="nav-link @(isChildActive ? "active" : "")" href="@child.Url">
                                    <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
                                    @child.Title
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link @(isActive ? "active" : "")" href="@item.Url">
                        <svg class="nav-icon">
                            <use xlink:href="@($"{Url.Content("~/assetsV1/vendors/coreui/icons/svg/free.svg")}#{item.Icon}")"></use>
                        </svg>
                        @item.Title
                    </a>
                </li>
            }
        }

    </ul>
    <div class="sidebar-footer border-top d-none d-md-flex">
        <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
</div>